* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
body{
    background-color: rgba(98, 68, 68, 0.671);
   
}
.btn{
position: relative;
top: 20px;
}
.Question{
    position: relative;
    bottom: 100px;
    font-size: 60px;
}
.div{
    padding: 30px;;
    background-color: rgb(189, 177, 177);
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.div1{
    padding: 30px;
    height: 400px;
    background-color: rgb(233, 161, 161);
    display: flex;
    justify-content: center;
    border: 3px dashed ;
    width: 100;
    color: aliceblue;
    position: relative;
    align-items: center
}
.p{
   position: relative;
    top: 40px; 
   
    
}
.position{
    position: relative;
    right: 70px;
    bottom: 100px;
}

.highscore{
    display: flex;
    justify-content: center;
    background-color: rgba(151, 87, 87, 0.3);
    padding: 40px;
    font-size: 50px;
    margin-left: 600px;
    margin-right: 600px;
    height: 700px;
    border: 3px dashed white;
}

.header{
    background-color: aquamarine;
    height: 200px;
   position: relative;
    text-align: center;
    font-size: 40px;
   
}
.movedown{
 position: relative;
    top: 40px;
}